*{
  box-sizing: border-box;
}
h1{
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
span{

  
  font-size: 30px;
  width: 150px;
  height: 40px;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  float:  right;top:0;right: 0; margin: 0;
  position: absolute;
}

  

.big-box{
  background-color: #EEEDDE;
  border: 1px solid white;
  border-radius: 5%;
  margin-top: 20px; 
  margin-right: 20px; 
  padding: 3px;
  text-align: justify;
  position: relative;

}
p {
  margin: 10px;
  font-weight: bold;  
  font-size: 20px;
 
}
#box1{
  background-color: #FFF8D5;
  color: black;
  border-radius: 10%;
}
#box2{
  background-color: #C69B7B;
  color: black;
  border-radius: 10%;
}
#box3{
  background-color: #5F7464;
  color: black;
  border-radius: 10%;
}


.row {
  width: 100%
}
img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  
}
@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone */
@media (max-width: 767px)  {
  
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
